@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap");

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: 0;
}

.hamburger {
  position: fixed;
}

@media (max-width: 768px) {

  .first-logo {
    display: none;
  }

  #first-nav-bar {
    display: none;
  }

  .second-one {
    display: none;
  }

  .forth-nav {
    display: none;
  }

  .hamburger {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    justify-content: start;
  }

  .first {
    display: flex;
    justify-content: start;
  }

  .hamburger-container {
    background-color: #d3d3d3;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
  }

  .extended {
    display: block;
  }

  .main {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-style: normal;
    gap: 50px;
    font-family: 'lato', sans-serif;
    padding: 10px 10px;
    transition: ease-in-out 1s;
  }

  .menu {
    color: #272a31;
    list-style: none;
    text-align: left;
    padding: 10px;
    margin: 10px;
  }

  .close {
    margin: 30px;
    display: flex;
    justify-content: end;
  }

  .heading {
    background-image: url(images/student-849825_1280.jpg);
    background-repeat: no-repeat;
    text-align: center;
  }

  .home {
    background-color: #fcfcfce8;
    padding-bottom: 50px;
  }

  .sub-title {
    color: #EC5242;
    font-size: 40px;
    text-align: center;
    padding-top: 150px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .sub-title::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 20%;
    padding-top: 1rem;
    border-bottom: 2px solid #ec5242;
  }

  .description {
    color: #272a31;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 3px solid white;
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact {
    text-align: center;
    color: #272a31;
    font-weight: bold;
    font-size: 20px;
  }

  .email {
    font-size: 20px;
    text-decoration: none;
    color: #272a31;
    padding-bottom: 30px;
    font-weight: bold;
  }

  #about-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
  }

  .title-logo {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #272a31;
  }

  .title-logo::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 20%;
    padding-top: 1rem;
    border-bottom: 2px solid #ec5242;
  }

  .description-logo {
    color: #272a31;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
  }

  .logo-container {
    border: 2px solid #272a31;
    padding: 50px;
  }

  .logo {
    color: purple;
    background-color: white;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    border: 2px solid purple;
    border-radius: 5px;
  }

  .past-container {
    background-color: white;
    padding-bottom: 20px;
  }

  .past {
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    color: #272a31;
  }

  .past::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 6%;
    padding-top: 1rem;
    border-bottom: 2px solid #ec5242;
  }

  .look {
    text-align: center;
    font-size: 20px;
    color: #272a31;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .one {
    background-image: url(images/people-4050698_640.jpg);
    height: 300px;
    width: 300px;
  }

  .one-content {
    background-color: #ec5342af;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .one-date {
    color: white;
    font-size: 40px;
    text-align: center;
  }

  .one-p {
    color: white;
    font-size: 20px;
    text-align: center;
  }

  .two {
    background-image: url(images/team-386673_640.jpg);
    height: 300px;
    width: 300px;
  }

  .two-content {
    background-color: #ec5342af;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .two-date {
    color: white;
    font-size: 40px;
    text-align: center;
  }

  .two-p {
    color: white;
    font-size: 20px;
    text-align: center;
  }

  #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #272a31;
  }

  .total {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .footer-logo {
    color: purple;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    border: 2px solid purple;
    border-radius: 5px;
  }

  .middle {
    color: #d3d3d3;
    font-size: 17px;
  }

}

@media (min-width: 769px) {

  .hamburger {
    display: none;
  }

  .hamburger-container {
    display: none;
  }

  .header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 200px;
    gap: 20px;
    background-color: #272a31;
  }

  #first-icons {
    text-decoration: none;
    color: #d3d3d3;
    font-size: 18px;
    transition: ease-in-out 0.5s;
  }

  #first-icons:hover {
    color: #ec5242;
  }

  .first-logo {
    color: purple;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin-left: 70px;
    border: 2px solid purple;
    border-radius: 5px;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px;
  }

  .second-one {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 200px;
  }

  .link {
    color: #272a31;
    font-size: 20px;
    transition: ease-in-out 0.5s;
  }

  .link:hover {
    color: #ec5242;
  }

  .heading {
    background-image: url(images/student-849825_1920.jpg);
  }

  .home {
    background-color: #fcfcfcd8;
    text-align: center;
    padding-bottom: 100px;
  }

  .sub-title {
    color: #ec5242;
    font-size: 70px;
    font-family: 'lato', sans-serif;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    padding-bottom: 100px;
  }

  .sub-title::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 20%;
    padding-top: 1rem;
    border-bottom: 2px solid #ec5242;

  }

  .description {
    border: 2px solid gray;
    color: #272a31;
    font-size: 30px;
    line-height: 40px;
    padding: 15px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid white;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fcfcfc;
  }

  .contact {
    text-align: center;
    color: #272a31;
    font-weight: bold;
    font-size: 30px;
  }

  .email {
    font-size: 30px;
    text-decoration: none;
    color: #272a31;
    padding-bottom: 30px;
    font-weight: bold;
    padding-bottom: 50px;
  }

  #about-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
  }

  .title-logo {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  .title-logo::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 20%;
    padding-top: 1rem;
    border-bottom: 2px solid #ec5242;
  }

  .description-logo {
    color: #272a31;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    line-height: 40px;
    font-size: 25px;
    max-width: 1000px;
    text-align: center;
  }

  .logo-container {
    border: 2px solid #272a31;
    padding: 50px;
  }

  .logo {
    color: purple;
    background-color: white;
    font-weight: bold;
    font-size: 70px;
    padding: 10px;
    border: 2px solid purple;
    border-radius: 5px;
  }

  .past-container {
    background-color: white;
    margin: 0;
  }

  .past {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    color: #272a31;
  }

  .past::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 6%;
    padding-top: 1rem;
    border-bottom: 2px solid #ec5242;
  }

  .look {
    text-align: center;
    font-size: 24px;
    color: #272a31;
  }

  .image-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 100px 20px;
  }

  .one {
    background-image: url(images/people-4050698_640.jpg);
    height: 400px;
    width: 500px;
  }

  .one-content {
    background-color: #ec5342af;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .one-date {
    color: white;
    font-size: 40px;
    text-align: center;
  }

  .one-p {
    color: white;
    font-size: 20px;
  }

  .two {
    background-image: url(images/team-386673_640.jpg);
    height: 400px;
    width: 600px;
  }

  .two-content {
    background-color: #ec5342af;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .two-date {
    color: white;
    font-size: 40px;
    text-align: center;
  }

  .two-p {
    color: white;
    font-size: 20px;
  }

  #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #272a31;
  }

  .total {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .footer-logo {
    color: purple;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    border: 2px solid purple;
    border-radius: 5px;
  }

  .middle {
    color: #d3d3d3;
    font-size: 17px;
  }




}