@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first-one {
  display: flex;
  background-color: #272A31;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
  gap: 15px;
  padding-right: 15%;
}

#first-icons {
  text-decoration: none;
  color: #D3D3D3;
  font-size: 14px;
  font-family: "Lato", serif;
  display: flex;
}

.second-nav-bar {
  width: 100%;
  background-color: #FFF;
  background-image: url("");
}

.second-one {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.second-one .l-account,
.pro,
.speak,
.spons,
.about {
  text-decoration: none;
  font-family: "Lato", serif;
  color: rgb(39, 42, 49);
  padding: 20px;
}

.second-one .about {
  margin-right: 20%;
  border: 3px solid red;
  padding: 5px;
  color: red;
}

.second-one .l-account {
  margin-right: 35%;
}

.second-one .l-account:hover,
.pro:hover,
.speak:hover,
.spons:hover {
  color: red;
}

.third-one {
  display: none;
}

#home-1 {
  background: #F7F7F7;
}

.hello {
  color: #EC5242;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  line-height: 1em;
  text-align: center;
  padding-top: 8%;
}

h1 {
  color: #EC5242;
  font-family: "Cooper Black", sans-serif;
  font-size: 64px;
  margin: auto;
  width: 100%;
  text-align: center;
}

.description,
.description-logo {
  font-family: "Lato", sans-serif;
  width: 60%;
  font-size: 17px;
  text-align: center;
  color: #3B3B3B;
  border: 4px solid white;
  margin: auto;
  line-height: 30px;
}

.contact {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #3B3B3B;
  text-align: center;
}

.email {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #3B3B3B;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

#about-logo {
  background-color: white;
  padding-top: 0;
  margin-top: 0;
  font-family: "Lato", serif;
}

.title-logo {
  color: #272A31;
  font-size: 28px;
  font-family: "Lato", sans-serif;
  line-height: 1em;
  text-align: center;
  padding-top: 4%;
}

.title-logo::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 4%;
  padding-top: 12px;
  border-bottom: 4px solid #EC5242;
}

.logo-image {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  margin: auto;
}

.images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

#more-info .hover-img {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  height: 15rem;
  position: relative;
  overflow: hidden;
  width: 20rem;
  text-decoration: none;
}

#partner .partner-lists img {
  opacity: 0.25;
  width: 2.7rem;
  height: 2.7rem;
}

#more-info .images .hover-img img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 300px;
  transform: scale(1.05);
  transition: 400ms ease-in-out;
}

#more-info .images .cover {
  position: absolute;
  inset: 0;
  mix-blend-mode: multiply;
  background-color: rgb(158, 42, 29);
}

#more-info .images .hover-img h3 {
  font-size: 4rem;
  font-weight: 100;
  color: white;
  z-index: 1;
}

#more-info .images .hover-img p {
  color: white;
  z-index: 1;
  padding: 5%;
  text-decoration: none;
}

#partner {
  display: flex;
  flex-direction: column;
  background-color: #333;
  margin-top: 5%;
}

.partner-title {
  color: rgb(211, 211, 211);
  margin: auto;
  padding-top: 4%;
  padding-bottom: 2%;
}

.partner-title:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 34%;
  padding-top: 6px;
  border-bottom: 4px solid #ec5242;
}

.partner-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 2rem;
  padding-bottom: 4%;
}

#partner .partner-lists img:hover {
  opacity: 0.85;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  float: right;
  padding: 2%;
}

.first-part a {
  text-decoration: none;
}

.end {
  float: left;
  display: flex;
  width: 30%;
  height: 20%;
  padding-left: 6%;
}

@media (max-width: 768px) {
  #first-nav-bar,
  #second-nav-bar {
    display: none;
  }
  .hello {
    color: #EC5242;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    line-height: 1em;
    text-align: center;
  }

  h1 {
    color: #EC5242;
    font-family: "Cooper Black", sans-serif;
    font-size: 44px;
    text-align: center;
    width: 100%;
  }
  
  .description,
  .description-logo {
    font-family: "Lato", sans-serif;
    width: 92%;
    font-size: 15px;
    text-align: center;
    margin: auto;
    color: #3B3B3B;
    background-color: white;
    border: 4px solid #F7F7F7;
    line-height: 30px;
  }

  .email,
  .contact {
    font-size: 14px;
  }

  .logo-image {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    padding-left: 0;
    margin: auto;
    width: 300px;
    height: 150px;
  }

  .images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin-left: 24%;
  }

  #footer {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: auto;
    text-align: center;
  }

  .first-part a {
    text-decoration: none;
  }

  .end {
    margin: auto;
  }

  .end img {
    display: flex;
    width: 180px;
    height: 100px;
  }
}
