@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first-one {
  display: flex;
  background-color: #272a31;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
  gap: 15px;
  padding-right: 15%;
}

#first-icons {
  text-decoration: none;
  color: #d3d3d3;
  font-size: 14px;
  font-family: "Lato", serif;
  display: flex;
}

.second-nav-bar {
  width: 100%;
  background-color: #fff;
  background-image: url("");
}

.second-one {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.second-one .l-account,
.pro,
.speak,
.spons,
.about {
  text-decoration: none;
  font-family: "Lato", serif;
  color: rgb(39, 42, 49);
  padding: 20px;
}

.second-one .about {
  margin-right: 20%;
  border: 3px solid red;
  padding: 5px;
  color: red;
}

.second-one .l-account {
  margin-right: 35%;
}

.second-one .l-account:hover,
.pro:hover,
.speak:hover,
.spons:hover {
  color: red;
}

.third-one {
  display: none;
}

#home-1 {
  background: #f7f7f7;
}

.hello {
  color: #ec5242;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  line-height: 1em;
  text-align: center;
  padding-top: 8%;
}

h1 {
  color: #ec5242;
  font-family: "Cooper Black", sans-serif;
  font-size: 64px;
  margin: auto;
  width: 75%;
}

.description,
.description-logo {
  font-family: "Lato", sans-serif;
  width: 60%;
  font-size: 17px;
  text-align: center;
  color: #3b3b3b;
  border: 4px solid white;
  margin: auto;
  line-height: 30px;
}

.contact {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #3b3b3b;
  text-align: center;
}

.email {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #3b3b3b;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

#about-logo {
  background-color: white;
  padding-top: 0;
  margin-top: 0;
  font-family: "Lato", serif;
}

.title-logo {
  color: #272a31;
  font-size: 28px;
  font-family: "Lato", sans-serif;
  line-height: 1em;
  text-align: center;
  padding-top: 4%;
}

.title-logo::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 4%;
  padding-top: 12px;
  border-bottom: 4px solid #ec5242;
}

.logo-image {
  display: flex;
  justify-content: center;
  padding-left: 32%;
  padding-bottom: 5%;
}

.images {
  width: 100%;
  margin: auto;
  display: inline;
}

#f-img {
    width: 330px;
    height: 200px;
}

@media (max-width: 768px) {
  #first-nav-bar,
  #second-nav-bar {
    display: none;
  }
}
