@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first-one {
  display: flex;
  background-color: #272a31;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
  gap: 15px;
  padding-right: 15%;
}

#first-icons {
  text-decoration: none;
  color: #d3d3d3;
  font-size: 14px;
  font-family: 'Lato', serif;
  display: flex;
}

.second-nav-bar {
  width: 100%;
  background-color: #fff;
}

.second-one {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.second-one .l-account,.pro,.speak,.spons,.about {
  text-decoration: none;
  font-family: 'Lato', serif;
  color: rgb(39, 42, 49);
  padding: 20px;
}

.second-one .about {
  margin-right: 20%;
  border: 3px solid red;
  padding: 5px;
  color: red;
}

.second-one .l-account {
  margin-right: 35%;
}

.second-one .l-account:hover,.pro:hover,.speak:hover,.spons:hover {
  color: red;
}

h2 {
  color: #EC5242;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  line-height: 1em;
  margin-top: 5%;
  margin-left: 10%;
}

h1 {
  color: #EC5242;
  font-family: 'Cooper Black', sans-serif;
  font-size: 64px;
  margin-left: 10%;
  width: 50%;
}

.description {
  margin-left: 11%;
  font-family: 'Lato', sans-serif;
  width: 23%;
  font-size: 17px;
  text-align: justify;
  color: #3B3B3B;
}

h3 {
  font-family: 'poppins', sans-serif;
  font-size: 30px;
  margin-left: 10%;
  color: #3B3B3B;
  font-weight: 800;
}

.location {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-left: 10%;
  color: #3B3B3B;
}

#main-pro {
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 42, 49);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%2321242d' fill-opacity='1' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
  color: rgb(211, 211, 211);
  text-align: center;
}

.sections-title {
  text-align: center;
  font-family: 'Lato', serif;
  color: #D3D3D3;
  font-size: 30px;
}

hr {
  margin-left: 52%;
  height: 30%;
  width: 6%;
  background-color: red;
  color: red;
}

.sections {
  display: flex;
  flex-direction: row;
}

.sub-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.067);
  border: 1px solid green;
  justify-content: center;
  width: 15%;
  text-align: center;
  row-gap: 20px;
  column-gap: 30px;
  margin-left: 15%;
}

#logo-section {
  flex-grow: 0;
  font-size: 50px;
  color: red;
  background: white;
  border-radius: 20%;
}

.section-title {
  color: rgb(236, 82, 66);
  flex-grow: 1;
  font-size: 1.5rem;
  text-align: center;
}

.sub-description {
  color: white;
  flex-basis: 55%;
  font-weight: 500;
  text-align: center;
}
