@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first-one {
  display: flex;
  background-color: #272a31;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
  gap: 15px;
  padding-right: 15%;
}

#first-icons {
  text-decoration: none;
  color: #d3d3d3;
  font-size: 14px;
  font-family: 'Lato', serif;
  display: flex;
}

.second-nav-bar {
  width: 100%;
  background-color: #fff;
}

.second-one {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.second-one .l-account,.pro,.speak,.spons,.about {
  text-decoration: none;
  font-family: 'Lato', serif;
  color: rgb(39, 42, 49);
  padding: 20px;
}

.second-one .about {
  margin-right: 20%;
  border: 3px solid red;
  padding: 5px;
  color: red;
}

.second-one .l-account {
  margin-right: 35%;
}

.second-one .l-account:hover,.pro:hover,.speak:hover,.spons:hover {
  color: red;
}

h2 {
  color: #EC5242;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  line-height: 1em;
  margin-top: 5%;
  margin-left: 10%;
}

h1 {
  color: #EC5242;
  font-family: 'Cooper Black', sans-serif;
  font-size: 64px;
  margin-left: 10%;
  width: 50%;
}

.description {
  margin-left: 11%;
  font-family: 'Lato', sans-serif;
  width: 23%;
  font-size: 17px;
  text-align: justify;
  color: #3B3B3B;
}

h3 {
  font-family: 'poppins', sans-serif;
  font-size: 30px;
  margin-left: 10%;
  color: #3B3B3B;
  font-weight: 800;
}

.location {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-left: 10%;
  color: #3B3B3B;
}


